@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import 'tailwindcss';
@import './vazirmatn.css';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui";


html[lang="fa"] {
    --main-font: 'Vazirmatn FD', sans-serif;
    --dir: rtl;
}

html[lang="en"] {
    --main-font: 'Noto Sans', sans-serif;
    --dir: ltr;
}

body {
    font-family: var(--main-font);
    direction: var(--dir);
    text-align: var(--dir);
}